#root,html,body{
    height: 100vh;
}

body{
    margin:0;
    /* background-color: whitesmoke; */
    background-image: url("./news-1172463_1920.jpg");
    /* background-repeat: no-repeat; */
    height: 100vh;
    background-size: cover;

}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}